/.vscode
/ai-port
/copy
/doc
/hack.css
/hack.js
/pppp
/pppp.zip
/sudhir-jpg-100kb.jpg
/sudhir-jpg.png
/sudhir.css.css
/sudhir.index.html
/sudhir.jjs.js
/Untitled design (3).jpg
/Untitled design (4).jpg
/Untitled design (5).jpg